<div class="card" [appFreshness]="course.createDate" [ngClass]="{'alert-primary': course.topRated}">
  <div class='card-body'>
    <h2 class='card-title'>
      {{course.name | uppercase}}
      <i class="fa fa-star" aria-hidden="true" *ngIf='course.topRated'></i>
    </h2>
    <h6 class='card-subtitle mb-2 text-muted'>
      {{course.durationMinutes | formatDuration}}
    </h6>
    {{course.description}}
  </div>
  <div class='card-body'>
    <button class='btn btn-primary'>Edit course</button>
    <button class='btn btn-danger' (click)='delClick()'>Delete</button>
  </div>
  <div class="card-footer text-muted">
    {{course.createDate | date:'dd.MM.yyyy'}}
  </div>
</div>