<div class='container'>
  <form class='d-flex flex-column' #form="ngForm" (submit)="submit(form)">
    <mat-form-field class="">
      <input matInput placeholder="Title" name="name" #name="ngModel" [ngModel]="course.name" required maxlength="50">
      <!--span class="error-display" *ngIf="name.invalid && name.dirty">{{name?.errors | json}}</span-->
    </mat-form-field>
    <mat-form-field class="">
      <textarea matInput placeholder="Description" name="description" [ngModel]="course.description" required maxlength="500"></textarea>
    </mat-form-field>
    <app-control-date [ngModel]="course.createDate" #createDate="ngModel" name="createDate" required></app-control-date>
    <span class="error-display" *ngIf="createDate.invalid && createDate.dirty">{{createDate?.errors | json}}</span>
    <app-control-duration [ngModel]="course.durationMinutes" #durationMinutes="ngModel" name="durationMinutes" required appMinValue="1"></app-control-duration>
    <span class="error-display" *ngIf="durationMinutes.invalid && durationMinutes.dirty">{{durationMinutes?.errors | json}}</span>
    <app-control-authors required #authors="ngModel" [ngModel]="course.authors" name="authors" [allAuthors]="allAuthors">

    </app-control-authors>
    <div class='row'>
      <button mat-raised-button color="primary" class='col-2 mx-2' type="submit" [disabled]="!form.valid" >Save</button>
      <button mat-button class='col-2 mx-2' (click)="cancelClick()">Cancel</button>
    </div>
  </form>
</div>