<app-toolbox (findClick)="filterByString($event)"></app-toolbox>
<div class='container'>
  <div class='row my-5' *ngFor="let course of courses | orderBy:'createDate'">
    <div class='col-12'>
        <app-course-widget [course]="course" 
        (delete)="deleteCourse($event)"
        ></app-course-widget>
    </div>
  </div>
  <div class='row my-5' *ngIf="!courses?.length">
    <div class='col-12 text-center alert alert-info'>
      No data. Feel free to add new course.
    </div>  
  </div>
  <div class="modal fade" #deleteConfirm>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remove course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Course will be removed</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="_callDeleteItem()">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>